altair==5.4.1
fpdf==1.7.2
glob2==0.7
GitPython==3.1.43
imageio==2.35.1
labelme==5.5.0
matplotlib==3.9.2
natsort==8.4.0
numpy==2.1.2
opencv-contrib-python-headless==4.10.0.84
opencv-python==4.10.0.84
pandas==2.2.3
pathlib==1.0.1
pillow==9.5.0
PyQt5==5.15.11
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
shapely==1.7.0
streamlit==1.39.0
streamlit-image-zoom==0.0.4
streamlit-option-menu==0.3.13
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.4.1
torchvision==0.19.1
ultralytics==8.3.13
